.scroll-button {
    letter-spacing: 1px;
    background-color: var(--deck-green-2);
    color: black;
    border: solid 2px var(--light-green);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 0px 10px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.scroll-button:hover {
    background-color: var(--deck-green-1);
}