body {
    background-image: url("https://i.imgur.com/Jt3myKG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    width: 100%;
    max-width: 800px;
}

.cowboy {
    width: 100%;
    max-width: 700px;
}