.card-container {
    background-color: var(--yellow);
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: solid black 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.delete-button{
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.delete-button:hover{
    background-color: var(--light-green);
}