.card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 10px;
    border: solid var(--dark-green) 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transition: 150ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 150ms;
    -o-transform-style: preserve-3d;
    -o-transition: -o-transform 150ms;
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 150ms;
}
.card:hover {
    --translate-y: -2px;
    opacity: 1;
}
.card.flip {
    --rotate-y: 180deg;
}
.card .front, 
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg) translateZ(1px);
    -webkit-transform: rotateY(180deg) translateZ(1px);
}
.flip-button {
    letter-spacing: 1px;
    background-color: var(--deck-green-1);
    color: black;
    border: solid 2px var(--dark-green);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 0px 10px 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.flip-button:hover {
    background-color: var(--deck-green-2);
}
.color-button {
    padding: 8px;
    border-radius: 10px;
    border: solid black 1px;
}
