.deck {
    color: black;
    border-radius: 10px;
    border: solid var(--dark-green) 2px;
    width: 150px;
    height: 200px;
    margin: 5px;
    font-size: 120%;
    letter-spacing: 1px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}