.App {
  text-align: center;
}
.form-container{
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}